* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    /* background-image: url('https://img.freepik.com/free-photo/3d-render-abstract-background-plexus-design-with-shallow-depth-field_1048-14031.jpg?w=1060&t=st=1705344711~exp=1705345311~hmac=093897d3a53f5dd02429cd305bf3f83abb54c366e9ead5bbaeb15491bec59134'); */
    /* background-image: url('https://img.freepik.com/free-vector/abstract-background_79603-31.jpg?w=1380&t=st=1705344879~exp=1705345479~hmac=206303507923fd5be113e54bba7bde7241818128dfd428951b61e211ccf7299b'); */
    /* background-image: url('https://img.freepik.com/free-photo/3d-render-abstract-background-with-glowing-particles_1048-14186.jpg?w=1060&t=st=1705345013~exp=1705345613~hmac=459496fe7cc9e6435133364c567c4c0d7c5fdf9ae2ffbcb1a9b64228d66039fd'); */
    background-image: url('https://img.freepik.com/free-photo/3d-render-abstract-techno-background-with-flowing-rainbow-particles_1048-14705.jpg?w=1060&t=st=1705345100~exp=1705345700~hmac=9052d0b1c189953b353a4de2435af8af037e670099f6580c64b8714ab106a157');
    /* background-image: url('https://img.freepik.com/free-photo/3d-render-modern-background-with-flowing-cyber-particles_1048-13851.jpg?w=1060&t=st=1705345204~exp=1705345804~hmac=9c493701a44d409ea6291b480d0dfa33006efa713ade2ee431a5a49be6e35f25'); */
    /* background-image: url('https://img.freepik.com/free-photo/3d-render-abstract-technology-with-flowing-particles_1048-13794.jpg?w=1060&t=st=1705345298~exp=1705345898~hmac=704b8e0ee83f81cdab9c81f7b991074b573aa470a1e92d44ffbb4e5e5f683108'); */
    background-size: cover;
    background-position: center;

    /* background: rgba(255, 255, 255, 0.01); */
    backdrop-filter: blur(7px);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: aqua;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navBar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.navBar .links {
    display: flex;
    gap: 2rem;    
}

.navBar .toggle_btn {
    color: rgb(255, 65, 65);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(148, 221, 126);
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover {
    scale: 1.05;
    color: rgb(88, 88, 88);
}
.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}


@media(max-width: 992px) {
    .navBar .links,
    .navBar .action_btn {
        display: none;
    }

    .navBar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

